<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{master :: layout(_,~{::meta},~{::main/content()})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mattia Verdolin">
    <meta name="description" content="Home tickets - New Milestone">
    <title>SUPSI tickets - New ticket</title>
</head>
<body>
<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <nav class="h6">
            <span><a th:href="@{/}">Milestones</a> /</span> <span class="notactive" th:text="${isNew} ? 'New Milestone':${milestone.title}">title</span>
        </nav>
        <hr>
    </div>
    <div class="row">
        <form method="post" th:object="${milestone}" role="form" enctype="multipart/form-data">
            <div class="mb-3 row" th:if="${!isNew}">
                <label for="category" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select id="category" class="form-select" th:field="${milestone.status}">
                        <option th:each="status : ${T(ch.supsi.webapp.tickets.model.MilestoneStatus).values()}" th:value="${status}" th:text="${status}">Bug</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" id="title" class="form-control" placeholder="title" th:field="*{title}" autofocus>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="description" placeholder="description" name="text" th:field="*{description}" class="form-control" rows="7"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
                <div class="col-sm-10">
                    <input type="date" id="dueDate" class="form-control" th:field="*{dueDate}">
                </div>
            </div>


            <hr>
            <input class="btn btn-primary offset-sm-2" type="submit" th:value="${isNew} ? 'Create milestone':'Update milestone'">
            <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</main>
</body>
</html>